DEBUG=true
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,shajjar.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://shajjar.pythonanywhere.com
TIME_ZONE=Asia/Baghdad
SITE_URL=http://127.0.0.1:8000
# SQLITE_PATH=/home/SHAJJAR/shajjar/backend/db.sqlite3
# MEDIA_ROOT=/home/SHAJJAR/shajjar/backend/media
# Optional external DB:
# DB_ENGINE=django.db.backends.mysql
# DB_NAME= DB_USER= DB_PASSWORD= DB_HOST=
